    <section id="project-left-menu">
      <ul>        
        <li>
          <a href="/project/<%=scope.project.id%>">
            <div class='item'>
                <i class="fa fa-info" aria-hidden="true"></i>
            </div>
          </a>
          <a href="/project/<%=scope.project.id%>"><span>profile</span></a>
        </li>  

        <li>
          <a href="/project/<%=scope.project.id%>/tags/">
            <div class='item'>
                <i class="fa fa-tag" aria-hidden="true"></i>
            </div>
          </a>
          <a href="/project/<%=scope.project.id%>/tags/"><span>tags</span></a>
        </li>
        
        <li>
          <a href="/project/<%=scope.project.id%>/objects/">
            <div class='item'>
                <i class="fa fa-list-ol" aria-hidden="true"></i>
            </div>
          </a>
          <a href="/project/<%=scope.project.id%>/objects/"><span>objects</span></a>
        </li>

        <li>
          <a href="/project/<%=scope.project.id%>/database/">
            <div class='item'>
                <i class="fa fa-database" aria-hidden="true"></i>  
            </div>
          </a>
          <a href="/project/<%=scope.project.id%>/database/"><span>database</span></a>
        </li>

        <li>
          <a href="/project/<%=scope.project.id%>/export/">
            <div class='item'>
                <i class="fa fa-upload" aria-hidden="true"></i>  
            </div>
          </a>
          <a href="/project/<%=scope.project.id%>/export/"><span>export</span></a>
        </li>
      </ul>
    </section>