<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
</head>

<body np-app="Reple">

    <% include ../partials/topnav.ejs %>

    <section id='json-list'>
        <ul>
            <% scope.jsons.forEach(function(json, iter) {  %>
            <li json-id='<%=json.id%>' id='json-obj-<%=json.id%>'>
                <p>
                    <div class="file-wrap" json-id='<%=json.id%>'>
                        <span class='download' json-id='<%=json.id%>'>
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </span>
                        <span class='size'>( <%=json.size%> )</span>
                        <%=json.name%>
                        <span class='date'>[ <%=json.date%> ]</span>
                    </div>
                    <span class='delete' json-id='<%=json.id%>'>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </span>
                </p>
            </li>

            <% }); %>
        </ul>
    </section>

    <section id="jsonpage">
        <div class="container">
            <div class="title">
                <h1>LOAD JSON</h1>
            </div>
            <div class="col-md-12">
                <form id='json-form'>
                    <div class="upload">
                        <div class="">
                            <h2>SELECT FILE</h2>
                        </div>
                        <div class="">
                            <input class="button" type="file">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="main-butt">
                            <input class="button" type="submit" value="SAVE">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
<script>

    $(function () {

        $("#json-list li span.delete").on('click', function (e) {
            let data = {
                type: "json.file.delete",
                id: $(e.currentTarget).attr('json-id')
            };

            ajax('/json/', data, (result) => {
                if (result.err) {
                    snackbox(result.err);
                } else if (result.resp) {
                    snackbox("json deleted");
                } else snackbox("wrong resp");
            });
        });

        $("#json-list li span.download").on('click', function (e) {
            let data = {
                type: "json.file.download",
                id: $(e.currentTarget).attr('json-id')
            };

            ajax('/json/', data, (result) => {
                if (result.err) {
                    snackbox(result.err);
                } else if (result.resp) {
                    throwJsonFile(result.resp)
                } else snackbox("wrong resp");
            });
        });
    });

/////////////////////OnDomReadyEnd//
///////////////////////////////////
</script>

</html>