<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>

    <% include ../partials/topnav.ejs %>

    <section id="project-page-update" class="col-md-offset-1 ">
      <div class="search-body col-md-11">
        <div class="proj-title">
          <h1>Projects</h1>
          <h3>- tag relation -</h3>
        </div>
          
        <div class="head-menu">
          <ul>
            <li>
              <a href="#"  onclick='createProject(this,event);'>
                Create New Project
              </a>
            </li>
          </ul>
        </div>


        <div class="psearch">
          <input type="text" id="search" placeholder="SEARCH BY NAME" >
          <img class="find noselect" src="/img/s-icon.svg">
        </div>
        
        <div class="table-body-update">
          <table class="table table-update">
            <thead>
              <tr>
                <th>id</th>
                <th></th>
                <th>Size</th>
              </tr>
            </thead>

            <tbody id='search-tbody'>
            </tbody>

            <tbody id='list-tbody'>
              <% scope.forEach(function(proj, iter) { %>
              <tr>
                <td> <%= proj.id %> </td>
                <td> 
                  <a href="/project/<%= proj.id %>/"> 
                    <%= proj.name %>
                  </a>
                  <p class='assoc-tags proj-tags'>
                    Asoc.tags
                    <% proj.tags.assoc.forEach(function(tag, i) { %>
                      <span>
                      <%= " "+ tag +" "%>
                      </span>
                    <% }); %>
                  </p>
                  <p class='stop-tags proj-tags'>
                    Stop.tags
                    <% proj.tags.stop.forEach(function(tag, iter) { %>
                      <span>
                      <%= " "+ tag +" "%>
                      </span>
                    <% }); %>
                  </p>
                </td>
                <td> <%= proj.size %> </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
      
    </section>
</body>
<script>
function createProject(el,event){
    if (event.preventDefault) event.preventDefault();
    console.log(el);
    console.log(event);
    var name = prompt('new project name');
      if(!name)
    return;
    console.log("new project: "+name);
    
    var body = 'name=' + encodeURIComponent(name)
        +'&type=add';
    var xhr = new XMLHttpRequest();

    xhr.open("POST", '/projects', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onreadystatechange = function (){
        console.log(xhr);
        if(xhr.readyState == 4)
            window.location.replace(xhr.responseURL);
    };
    xhr.send(body);
    return false;
} 
function search(url){
    // var search = document.getElementById('search');
    console.log('search engine');
    if( $('#search') ){
        $('#search').on('keyup', ()=>{
            console.log('search typing...');
            var val = $('#search').val();
            if( val.length > 0 ){
                $("#list-tbody").hide();
                ajax(url, {type:'search',name:val}, (items)=>{
                    console.log(items);
                    var html = '';
                    for(var i in items){
                        console.log(items[i]);
                        html += ''
                        + "<tr>"
                        + "<td class='number'>" 
                        + items[i].id 
                        + "</td>"
                        + "<td>"
                        + "<a href='project/"+ items[i].id  +"'>"
                        + items[i].name
                        + "</a>"
                        + "</td>"
                        + "<td></td>"
                        + "</tr>";
                    }  
                    $("#search-tbody").empty().append(html).show();
                });
            }else{
                $("#list-tbody").show();
                $("#search-tbody").hide();
            }
        });
    }
}
  $(function(){
    search('/projects');
  });
</script>
</html>
 