<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
    <script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
  </head>
  <body np-app="Reple">
  
    <% include ../partials/topnav.ejs %>

    <section id="rewrite-second-page" >
      <div class="container">
        <div class="write-title">
          <h1>Rewrite</h1>
          <hr>
        </div>
      </div>

      <div class="col-md-12">

        <form id='rewriter-form'>
        <div class="tags col-md-offset-1 col-md-10">
          <label>Tags</label>
          <p>
            <% object.tags.forEach(function(tag, iter){ %>
              <span class='item'>
                <i class="fa fa-hashtag" aria-hidden="true"></i>
                <span tag-id='<%= tag.id %>'>
                  <%= tag.name %>
                </span>
              </span>  
            <% }); %>
          </p>
        </div>
          <div class="col-md-6">
            <div class="video-main">
            <label>Video</label><br>
              <video controls src="<%= object.video %>">
                <!-- <source src="" type="video/webm"> -->
              </video>
            </div>
            <div class="image-galery">
              <img src="img/icon_app_3.png" alt="" width="950" tabindex="0">
              <img src="img/icon_app_3.png" alt="" width="950" tabindex="0">
              <img src="img/icon_app_3.png" alt="" width="950" tabindex="0">
              <img src="img/icon_app_3.png" alt="" width="950" tabindex="0">
              <img src="img/icon_app_3.png" alt="" width="950" tabindex="0">
            </div>
          </div>

          <div class="col-md-6">
            <div class="rewriter-form">
                <label>Title</label>
                <input type="text" value='<%= object.title %>' class='form-control' id='object-title'>
                <label>Description</label>
                <textarea id='object-desc'><%= object.description %></textarea>
            </div>
          </div>
          <hr>
          <input type="hidden" id="project-id" name="project" value='<%= project.id %>'>
          <input type="hidden" id="original-id" name="project" value='<%= object.id %>'>
          <input class="btn" id="rewriter-submit" type="submit" value="PUSH">
        </form>
      </div>


    </section>
  </body>
</html>